.button-modal{
  display: flex;
  justify-content:space-between;
}
.callPatient {
  min-height: 100px;
  min-width: 50%;
  border-radius: 10px;
  background-color: #2dd36f;
}
.deleteSwab {
  min-height: 100px;
  min-width: 50%;
  border-radius: 10px;
  background-color: #ff08007a;
}

// .show {
//   display: block;
// }
// .hide {
//   display: none;
// }
// .showList {
//   position: absolute;
//   z-index: 1000000000;
//   width: 60%;
//   height: 70%;
//   display: block;
// }
