.callPatient {
  min-height: 100px;
  padding: "10%";
  background-color: #00ff227a;
}
.deleteSwab {
  min-height: 100px;
  padding: "10%";
  background-color: #ff08007a;
}
.callPatient,
.deleteSwab {
  button {
    background-color: transparent;
    border: transparent;
  }
}
// .show {
//   display: block;
// }
// .hide {
//   display: none;
// }
// .showList {
//   position: absolute;
//   z-index: 1000000000;
//   width: 60%;
//   height: 70%;
//   display: block;
// }
