<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title> Swabs Programming </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="datePicker">
    <ion-label>Start Date</ion-label>
    <ion-datetime
      value="1990-02-19"
      placeholder="Select Date"
      [(ngModel)]="startDate"
    ></ion-datetime>
  </ion-item>
  <ion-item class="datePicker">
    <ion-label>Ends Date</ion-label>
    <ion-datetime
      value="1990-02-20"
      placeholder="Select Date"
      [(ngModel)]="endDate"
      (ionChange)="searchByDate()"
    ></ion-datetime>
  </ion-item>
  <label *ngIf="errorDateBefore"
    >La data di fine è precedente alla data di inizio</label
  >
  start {{startDate}} ----end{{endDate}}

  <app-swab-add></app-swab-add>
  <app-swabs-list [daysPicker]="searchDaysArr"></app-swabs-list>
</ion-content>
