.datePicker {
  padding: 1%;
}
.dateLabel{
  border-radius: 3px;
  background-color: #eb445a;
  padding: 0px 10px;
  color: #f2f2f2;
  font-weight: bolder;
  
}
ion-row {
  display: flex;
}
ion-row ion-slides {
  display: flex;
  justify-content: flex-start;

}
.todayList{

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.swiper-wrapper{
  justify-content: center;
  align-items: center;

  .swabCard{
    width: 60vw !important;
    height: 60vw !important;  
    font-size: 1.5em;   
  }
}
.swiper-container {
  margin: 0;
  
}
.swabCard {
  display: flex;
  width: 40vw !important;
  height: 40vw !important;
  flex-direction: column;
  border: 2px solid #f8f8f8;
}
.team1 {
  background-color: #bd212179;
}
.team2 {
  background-color: #2ebd215d;
}
.team3 {
  background-color: #babd2169;
}
img {
  max-width: 100%;
  border: 0;
  width: 150px;
  margin: 0 10px auto;
}