<ion-content [fullscreen]="true">
  <ion-header>
    <img src="../assets/logo-covidegast.jpg">
    <ion-toolbar>
      <ion-title> Swabs Programming </ion-title>
    </ion-toolbar>
    <ion-item-group>
      <ion-item class="datePicker">
        <ion-label>Start Date</ion-label>
        <ion-datetime
          value="1990-02-19"
          placeholder="Start"
          [(ngModel)]="startDate"
        ></ion-datetime>
        <ion-label>Ends Date</ion-label>
        <ion-datetime
          value="1990-02-20"
          placeholder="End"
          [(ngModel)]="endDate"
          (ionChange)="searchByDate()"
        ></ion-datetime>
      </ion-item>
      <label *ngIf="errorDateBefore"
        >La data di fine è precedente alla data di inizio</label
      >
      <ion-button style="--background:#eb445a; padding: 5px;"
        mode="ios"
        
        (click)="openModalSwab(null, false)"
        >Add Swab</ion-button
      >
    </ion-item-group>
  </ion-header>

  <ion-content class="ion-margin">
    <ion-row *ngFor="let day of daysSelected">
      <ion-label>{{ day }}</ion-label>
      <ion-slides
        [options]="{ slidesPerView: '2', zoom: false, grabCursor: true }"
      >
        <ion-slide
          *ngFor="let swab of swabs[day]"
          (click)="openModalSwab(swab, true)"
          class="swabCard team{{swab.team_id}}"
        >
          <ion-label>
            <p><i class="fas fa-clock"></i>{{swab.date.substring(10, 16)}}</p>
          </ion-label>
          <ion-label>
            <p><i class="fas fa-house-user"></i>{{ swab.address }}</p>
          </ion-label>

          <ion-label>
            <p>
              Done :
              <i
                [ngClass]="[
                      swab.done ? 'far fa-check-circle' : 'fas fa-times'
                    ]"
              ></i>
            </p>
            <p>{{swab.name}}</p>
            <p><i class="fas fa-phone"></i>{{ swab.phone }}</p>
            <i
              [ngClass]="[
              swab.type === 'rap' ? 'fas fa-registered' : 'fas fa-vial'
            ]"
            ></i>
          </ion-label>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-content>
</ion-content>
