<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title> Swabs Programming </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="datePicker">
    <ion-label>Start Date</ion-label>
    <ion-datetime
      value="1990-02-19"
      placeholder="Select Date"
      [(ngModel)]="startDate"
    ></ion-datetime>
  </ion-item>
  <ion-item class="datePicker">
    <ion-label>Ends Date</ion-label>
    <ion-datetime
      value="1990-02-20"
      placeholder="Select Date"
      [(ngModel)]="endDate"
      (ionChange)="searchByDate()"
    ></ion-datetime>
  </ion-item>
  <label *ngIf="errorDateBefore"
    >La data di fine è precedente alla data di inizio</label
  >
  start {{startDate}} ----end{{endDate}}

  <ion-button
    mode="ios"
    class="ion-padding"
    (click)="openModalSwab(null, false)"
    >Add Swab</ion-button
  >
  <ion-item>
    <p (ionChange)="ngOnChanges()"></p>
  </ion-item>
  <ion-content class="ion-margin">
    <ion-row *ngFor="let day of daysSelected">
      <ion-label>{{ day }}</ion-label>
      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
      >
        <ion-slide
          *ngFor="let swab of swabs[day]"
          (click)="openModalSwab(swab, true)"
          style="
            display: flex;
            flex-direction: column;
            max-width: 150px;
            border: 2px solid #f8f8f8;
          "
        >
          <ion-label>
            <p><i class="fas fa-clock"></i>{{swab.date.substring(10, 16)}}</p>
          </ion-label>
          <ion-label>
            <p><i class="fas fa-house-user"></i>{{ swab.address }}</p>
          </ion-label>

          <ion-label>
            {{swab.done}} {{swab.name}}
            <p><i class="fas fa-phone"></i>{{ swab.phone }}</p>
            {{swab.positive_res}} {{swab.type}}
          </ion-label>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-content>
</ion-content>
