<ion-header mode="ios">
  <ion-toolbar>
      <ion-title >Add new Patient</ion-title>        
          <ion-button size="small"  mode='ios' slot="end" (click)="dismissModal()">Chiudi</ion-button>
      </ion-toolbar>
</ion-header>
<ion-content mode="ios" class="ion-padding">
  <form [formGroup]="formPatient" mode="ios" (ngSubmit)="onAdd()">
    <ion-item class="control">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name"  formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="control">
      <ion-label position="floating">Surname</ion-label>
      <ion-input type="text" name="surname" formControlName="surname"></ion-input>
    </ion-item>
    <ion-item class="control">
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" name="address" formControlName="address"></ion-input>
    </ion-item>

    <ion-item class="control">
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" placeholder="YYYY/MM/DD" name="dateOfBirth" formControlName="dateOfBirth"></ion-datetime>
    </ion-item>
    <!--
      ion-item class="control">
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-input type="date" name="dateOfBirth" placeholder=""  formControlName="dateOfBirth"></ion-input>
    </ion-item>
    -->
    
    <ion-item class="control">
      <ion-label position="floating">Fiscal Code</ion-label>
      <ion-input type="text" name="fiscalCode" formControlName="fiscalCode"></ion-input>
    </ion-item>
    <ion-item class="control">
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="text" name="phone"  formControlName="phone"></ion-input>
    </ion-item>
    <ion-item class="control">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email"  [(ngModel)]="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="control ion-padding-top" >
      <ion-label>Positive</ion-label>
      <ion-checkbox color="primary" mode='ios' name="hasCovid"  formControlName="hasCovid"></ion-checkbox>
    </ion-item>
    <ion-button  class="ion-padding" expand="block"  [disabled]="formPatient.invalid" type="submit">Save</ion-button>
  </form>
</ion-content>